[[source]]

url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"


[packages]

nltk = "*"
gensim = "*"
jieba = "*"

[dev-packages]

pylint = "*"
autopep8 = "*"
flake8 = "*"
